.mainContainer {
    position: relative;
    width: calc(100% - 10px);
    height: auto;
    display: flex;
    flex-direction: column; /* Changed from row to column */
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    background-color: var(--item-background-color);
    border-radius: 8px;
    text-decoration: none;
    border: 1px solid var(--border-color);
    flex-wrap: nowrap;
}

.mainContainer:hover {
    border: 1px solid var(--sky-300);
    box-shadow: 0px 0px 10px var(--sky-300);
    cursor: pointer;
}

.horizontalContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px 15px 10px;
}

.date {
    width: 80%;
    color: var(--text-color1);
}

.icon {
    height: 25px;
    width: 25px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon:hover{
    filter: drop-shadow(0 0 10px var(--sky-500));
    transform: translateY(-2px);
    cursor: pointer;
}

.progressInactive {
    display: none; /* Hide when inactive */
}

.progressActive {
    position: relative; /* Changed from absolute */
    width: 100%;
    height: 20px; /* Increased height */
    background-color: var(--progress-background);
    bottom: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress {
    position: absolute;
    height: 100%; /* Use full height of container */
    background-color: var(--sky-300);
    bottom: 0px;
    left: 0;
}

.progressText {
    position: relative;
    z-index: 1;
    color: var(--text-color1);
    font-size: 12px;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    .mainContainer {
        width: calc(100% - 10px);
        margin: 5px;
        flex-wrap: wrap;
    }

}